# virtual env
venv/

# python cache
__pycache__/
*.pyc

# notebooks checkpoints
.ipynb_checkpoints/

# environment
.env

# vscode
.vscode/

# -------------------------
# DVC RULES (IMPORTANT)
# -------------------------

# Ignore raw data ONLY if NOT tracked by DVC
data/*.csv
data/*.txt

# DO NOT ignore dvc metadata
!.dvc/
!.dvc/config
!.dvcignore

# DVC cache
.dvc/cache/